<div class="col-lg-8 col-md-8 mx-auto mt-2 mb-2 col-sm-12 col-xs-12">
    <div class="card text-left">
        <div class="card-body pt-4">
            <a aria-controls='subscribe' aria-expanded='false' class='btn btn-dark btn-md btn-raised' data-toggle='collapse' href='#subscribe' rel='noreferrer' style='text-decoration:none;'><i class='fa fa-envelope'></i> Prenumeracija</a>{{ partial "facebooklike.html" . -}}

            <div class='collapse' id='subscribe'>
                <a href="https://feeds.feedburner.com/nerdyfeed" class="btn btn-md btn-dark btn-raised"><img src="https://feeds.feedburner.com/~fc/nerdyfeed?bg=212121&amp;fg=FFFFFF&amp;anim=1" style="transform: scale(1.1)" height="26" width="88" style="border: 0" alt="" /></a>
            </div>
        </div>
      </div>
  
</div>