<div class="col-lg-8 col-md-8 mx-auto mt-2 mb-2 col-sm-12 col-xs-12">
    <div class="card text-left">
        <div class="card-body">
            <div id="google_translate_element"></div><script defer type="text/javascript">  
                function googleTranslateElementInit() {  
                    new google.translate.TranslateElement( 
                        {pageLanguage: 'en'},  
                        'google_translate_element' 
                    );  
                }  
            </script>  
              
            <script defer type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"> 
            </script> 
        </div>
      </div>
  
</div>